In [51]:
#Import library
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

Load Data

In [52]:
url = 'https://raw.githubusercontent.com/rdazmn/FYP/master/ML-MATT-CompetitionQT1920_train2.csv'
url2 = 'https://raw.githubusercontent.com/rdazmn/FYP/master/ML-MATT-CompetitionQT1920_test.csv'
data = pd.read_csv(url, error_bad_lines=False)
data_test =pd.read_csv(url2,error_bad_lines=False)

In [53]:
data.shape

(36904, 14)

In [54]:
data.describe()

,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,Unusual
count,36904.000000,36904.000000,36904.000000,36904.000000,36904.000000,36904.000000,36904.000000,36904.000000,36815.000000,36815.000000,36904.000000
mean,7.835090,2.106396,0.560525,0.067610,17.764369,1.791974,1.173441,0.665143,4.190819,3.063371,0.275932
std,8.428206,2.247514,0.727623,0.186555,15.739932,5.028928,0.214065,0.535493,1.772484,1.387446,0.446989
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.213000,0.707000,0.140000,0.021000,5.710750,0.362000,1.041000,0.010000,3.000000,2.000000,0.000000
50%,4.547000,1.314000,0.352000,0.040000,14.170000,0.703000,1.112000,1.011000,4.000000,3.000000,0.000000
75%,12.126000,2.728000,0.718000,0.075000,25.059500,1.242000,1.263000,1.051000,5.000000,4.000000,1.000000
max,51.333000,77.505000,19.601000,12.461000,140.008000,48.253000,2.915000,2.668000,12.000000,12.000000,1.000000

Downlink definition – signal coming from a cell tower to your cellular device

Uplink definition – signal leaving your cellular device and going back to a cell tower

Most of us have experienced cell phone conversations when you can hear the other person but they can’t hear you or vice versa. 
A disruption in downlink or uplink in cellular communication causes this issue.

Imputation - drop rows or column include missing values

In [55]:
#Change object to float64

data['Time'] = pd.to_datetime(data['Time'],format='%H:%M').dt.hour
data['maxUE_UL_DL'] = pd.to_numeric(data['maxUE_UL_DL'],errors='coerce')
data['maxUE_DL'] = data['maxUE_DL'].replace(np.nan, 0)
data['maxUE_UL'] = data['maxUE_UL'].replace(np.nan, 0)
data['maxUE_UL_DL'] = data['maxUE_UL_DL'].replace('#¡VALOR!',0)
data['maxUE_UL_DL'] = data['maxUE_UL_DL'].replace(np.nan,0)

In [56]:
data.head()

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL_DL,Unusual
0,10,3BLTE,11.642,1.393,0.370,0.041,15.655,0.644,1.114,1.025,4.0,3.0,7.0,1
1,9,1BLTE,21.791,1.891,0.537,0.268,10.273,1.154,1.353,1.085,6.0,4.0,10.0,1
2,7,9BLTE,0.498,0.398,0.015,0.010,0.262,0.164,0.995,0.995,1.0,1.0,2.0,1
3,2,4ALTE,1.891,1.095,0.940,0.024,60.715,0.825,1.035,0.995,2.0,2.0,4.0,1
4,3,10BLTE,0.303,0.404,0.016,0.013,0.348,0.168,1.011,1.011,2.0,1.0,3.0,0

In [57]:
#Filling all missing values with 0
data = data.fillna(0)
#Filling missing values with medians of the columns
data = data.fillna(data.median())

In [58]:
data.isna().any()

Time           False
CellName       False
PRBUsageUL     False
PRBUsageDL     False
meanThr_DL     False
meanThr_UL     False
maxThr_DL      False
maxThr_UL      False
meanUE_DL      False
meanUE_UL      False
maxUE_DL       False
maxUE_UL       False
maxUE_UL_DL    False
Unusual        False
dtype: bool

Handling Outliers - Outlier technique

#PRBUsage UL

In [59]:
#The actual maximum threshold of PRBUsageUL is
maxThrUL = data['PRBUsageUL'].quantile(0.95)
maxThrUL

25.768

In [60]:
#This indicate the outlier of each PRBUsageUL value which more than max threshold
data[data['maxThr_UL']>maxThrUL]

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL_DL,Unusual
110,0,6BLTE,18.593,11.014,5.302,0.565,57.651,45.350,1.233,0.01,5.0,4.0,9.0,0
225,17,6BLTE,16.067,6.568,2.816,0.324,57.454,38.727,1.223,0.01,5.0,4.0,9.0,0
268,12,6BLTE,12.935,4.378,2.156,0.286,51.421,45.151,1.124,0.01,5.0,3.0,8.0,1
275,10,6BLTE,21.018,8.993,4.384,0.545,57.248,43.766,1.243,0.01,5.0,4.0,9.0,0
290,0,6BLTE,19.705,7.579,3.122,0.292,55.700,44.178,1.273,0.01,5.0,4.0,9.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36612,10,6CLTE,12.227,1.011,0.221,0.995,17.109,30.519,1.172,0.01,4.0,3.0,7.0,0
36662,7,6BLTE,3.781,3.383,3.185,0.489,63.694,45.997,1.015,0.01,3.0,2.0,5.0,1
36789,18,6BLTE,21.625,9.297,4.618,0.554,54.910,42.259,1.293,0.01,5.0,5.0,10.0,0
36814,17,6BLTE,15.663,4.850,2.617,0.317,67.291,44.631,1.172,0.01,5.0,3.0,8.0,0
36851,4,6BLTE,5.659,6.770,4.974,0.665,60.395,46.740,1.051,0.01,3.0,3.0,6.0,0

In [61]:
#The actual maximum threshold of PRBUsageUL is
minThrUL = data['PRBUsageUL'].quantile(0.05)
minThrUL

0.10099999999999999

In [62]:
data[data['meanThr_UL']<minThrUL]

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL_DL,Unusual
0,10,3BLTE,11.642,1.393,0.370,0.041,15.655,0.644,1.114,1.025,4.0,3.0,7.0,1
2,7,9BLTE,0.498,0.398,0.015,0.010,0.262,0.164,0.995,0.995,1.0,1.0,2.0,1
3,2,4ALTE,1.891,1.095,0.940,0.024,60.715,0.825,1.035,0.995,2.0,2.0,4.0,1
4,3,10BLTE,0.303,0.404,0.016,0.013,0.348,0.168,1.011,1.011,2.0,1.0,3.0,0
5,13,9ALTE,15.966,1.819,0.415,0.071,10.116,0.706,1.364,1.314,6.0,5.0,11.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36899,21,6ALTE,7.579,0.808,0.164,0.037,7.980,0.375,1.101,0.010,4.0,3.0,7.0,0
36900,9,8CLTE,9.095,1.213,0.189,0.030,19.510,1.583,1.122,1.031,4.0,2.0,6.0,0
36901,13,9BLTE,4.378,0.896,0.341,0.030,12.037,0.540,1.065,1.005,4.0,3.0,7.0,1
36902,12,3CLTE,13.339,2.728,0.559,0.065,28.187,0.894,1.223,1.061,5.0,4.0,9.0,0
36903,15,5BLTE,22.231,2.627,0.814,0.076,80.804,0.852,1.324,1.142,6.0,4.0,10.0,0

In [63]:
#The actual maximum threshold of PRBUsageDL is
maxThrDL = data['PRBUsageDL'].quantile(0.95)
maxThrDL

6.07

In [64]:
#The actual maximum threshold of PRBUsageUL is
minThrDL = data['PRBUsageDL'].quantile(0.05)
minThrDL

0.40399999999999997

In [65]:
data2 =data[(data['PRBUsageUL']<maxThrUL) & (data['PRBUsageUL']>minThrUL) & (data['PRBUsageDL']<maxThrDL) & (data['PRBUsageDL']>minThrUL) ]
data2.shape

(31500, 14)

In [66]:
data2.sample(10)

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL_DL,Unusual
7516,20,8CLTE,6.972,1.314,0.323,0.031,15.206,1.486,1.071,1.021,3.0,2.0,5.0,0
25396,21,4CLTE,15.622,1.990,0.300,0.043,12.605,0.696,1.184,1.134,4.0,4.0,8.0,1
12775,6,4BLTE,8.892,0.707,0.269,0.011,40.798,0.727,1.112,1.011,4.0,2.0,6.0,0
6313,11,6VLTE,1.011,1.920,0.175,0.032,14.299,1.120,1.142,0.010,4.0,4.0,8.0,0
28920,20,7WLTE,0.909,2.526,0.457,0.042,8.297,1.477,1.314,0.010,5.0,2.0,7.0,0
12009,0,2ALTE,0.202,0.404,0.054,0.010,1.313,0.076,1.011,0.010,1.0,1.0,2.0,0
16388,19,6ALTE,10.105,1.415,0.449,0.067,14.028,1.907,1.172,0.010,4.0,3.0,7.0,0
10141,8,7VLTE,1.314,4.143,0.715,0.059,22.590,1.028,1.243,0.010,6.0,3.0,9.0,0
23788,4,1ALTE,3.980,1.194,0.736,0.032,51.034,0.723,1.035,0.995,3.0,3.0,6.0,1
29692,21,4BLTE,22.029,2.425,0.821,0.092,50.975,1.110,1.405,1.152,7.0,5.0,12.0,0

Change cellname to one hot encoder

In [67]:
#pd.get_dummies(data2, columns=["CellName"]).head(10)

TestML

In [68]:
X = data2.iloc[:,2:13]
y = data2.iloc[:,13]
y = y.astype('int')

#Split into train and test set using sklearn model_selection
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=7)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [69]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [70]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier

In [71]:
models = []

models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
#models.append(('SVM', SVC()))
models.append(('XGB', XGBClassifier()))
models.append(('RF', RandomForestClassifier()))

##Spot-Checking Algorithms

models = []

models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('SVM', SVC()))
models.append(('XGB', XGBClassifier()))
models.append(('RF', RandomForestClassifier()))

#testing models

results = []
names = []

for name, model in models:
    kfold = KFold(n_splits=10, random_state=42)
    cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring='roc_auc')
    results.append(cv_results)
    names.append(name)
    msg = '%s: %f (%f)' % (name, cv_results.mean(), cv_results.std())
    print(msg)

LR: 0.686818 (0.010844)
LDA: 0.673951 (0.011806)
KNN: 0.697898 (0.015038)
CART: 0.947152 (0.004883)
SVM: 0.758389 (0.014938)
XGB: 0.999751 (0.000197)
RF: 0.981097 (0.001699)

Calculate the accuracy of the algorithms:

a) Random forest classifier

In [75]:
rclf = RandomForestClassifier()
rclf.fit(X_train,y_train)
from sklearn.metrics import accuracy_score,recall_score,confusion_matrix
y_pred = rclf.predict(X_test)

print("Accuracy: %.2f%%" % (accuracy_score(y_test, y_pred)*100))

Accuracy: 93.59%

b) Decision tree classifier

In [76]:
clf=DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Accuracy: %.2f%%" % (accuracy_score(y_test, y_pred)*100))

Accuracy: 96.33%

c) XGB

In [77]:
xgb =XGBClassifier()
xgb= xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
print("Accuracy:  %.2f%%" % (accuracy_score(y_test, y_pred)*100))

Accuracy:  99.57%